@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body {
      @apply bg-gray-900 text-gray-100;
      -webkit-font-smoothing: antialiased;
   }
}

@layer components {
   .lesson-left-arrow::before {
      content: ' ';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 45%;
      left: -10px;
      transform: rotate(45deg) translateY(-45%);
      @apply bg-green-500 border border-green-500;
   }

   .animated-monitor {
      animation: animateMonitor 6s ease-in-out forwards infinite;
   }
   @keyframes animateMonitor {
      0% {
         opacity: 0.3;
         stroke-dasharray: 640;
         stroke-dashoffset: 640;
      }
      25%,
      100% {
         opacity: 1;
         stroke-dashoffset: 0;
      }
   }
}

@layer utilities {
   .my-pulse {
      animation: myPulse 6s ease-in-out infinite;
   }
   @keyframes myPulse {
      0% {
         opacity: 0.3;
      }
      25% {
         opacity: 1;
      }
      27% {
         opacity: 0.3;
      }
      29% {
         opacity: 1;
      }
      30% {
         opacity: 0.3;
      }
      32% {
         opacity: 1;
      }
   }
}
